{% extends 'formBase.html' %}
{% block title %}Login Amazon{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">

{% endblock %}
{% block image %} <img src="{{url_for('static',filename='Logo.jpg')}}" alt="Logo" id="logo">{% endblock
%}
{% block content %}
<h5><b>Enter Your New Password</b></h5>
<p>Password</p>
<form action="{{url_for('createPass')}}" method="POST">
    <input type="password" required class="email-box" name="password1" placeholder="Enter your password here.">

    <input type="password" required class="email-box" name="password2" placeholder="Confirm Password.">
    <button class="submit-box">Continue</button>
   
</form>
<a href="{{url_for('signUp')}}"><button class="submit-box">Back</button></a>
<p id="agree">By agreeing you accept Amazon's <a href="#">conditions of use</a> and the <a href="#">privacy
        policy.</a></p>
<hr>
<p style="font-size: 12px;">Buying for work? <a href="#" style="font-size: 12px;">Shop on Amazon
        Business</a></p>
{% endblock %}