{% extends 'formBase.html' %}

{% block title %}Amazon Details{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/details.css') }}">

{% endblock %}
{% block messages %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul style="height: 35px; width: 30%; border: 1px solid #007bff; border-radius: 15px; background-color: #e7f1ff; padding: 5px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
        {% for category, message in messages %}
            <li class="{{ category }}" style="color: #333; font-size: 14px; font-family: 'Arial', sans-serif; display: flex; align-items: center;">
                <span style="margin-right: 10px; font-weight: bold; color: #007bff;">Alert:</span>{{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% endblock %}
{% block image %} <img src="{{url_for('static',filename='Logo.jpg')}}" alt="Logo" id="logo">{% endblock
%}
{% block content %}
<h5><p> Welcome To AMAZON INDIA </p></h5>
<h5><b>Enter Your Details Here</b></h5>

<form action="{{url_for('details')}}" method="POST">
    <input type="text" required class="name-box" name="name" placeholder="Enter your name here.">
    <input type="text" required class="number-box" name="number" placeholder="Your Contact Details">
    <input type="text" required class="address-box" name="address" placeholder="Your Address">
    <input type="text" required class="pin-box" name="pin" placeholder="Pincode.">
    <button class="submit-box">Continue</button>
   
</form>

{% endblock %}