{% extends 'pageBase.html' %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/cook.css')}}">
{% endblock %}
{% block title %}Diwali{% endblock %}
{% block style %}
<style>
    .logo {
        background-image: url("{{url_for('static',filename='images/amazon_logo.png')}}");
        height: 50px;
        width: 110px;
        background-size: cover;
        /* above property help image to get fully covered in its height and width*/
    }

    .boxExtra_img {
        background-image: url("{{url_for('static',filename='more1.png')}}");
        background-size: contain;
    }

    .box1_img {

        background-image: url("{{url_for('static',filename='/diwali/diya1.jpg')}}");
        background-size: contain;
    }

    .box2_img {

        background-image: url("{{url_for('static',filename='/diwali/diya2.jpg')}}");
        background-size: contain;
    }

    .box3_img {

        background-image: url("{{url_for('static',filename='/diwali/diya3.jpg')}}");
        background-size: contain;
    }

    .box4_img {

        background-image: url("{{url_for('static',filename='/diwali/diya4.jpg')}}");
        background-size: contain;
    }

    .box5_img {

        background-image: url("{{url_for('static',filename='/diwali/diya5.jpg')}}");
        background-size: contain;
    }

    .box6_img {

        background-image: url("{{url_for('static',filename='/diwali/diya6.jpg')}}");
        background-size: contain;
    }

    .box7_img {

        background-image: url("{{url_for('static',filename='/diwali/diya7.jpg')}}");
        background-size: contain;
    }

    .box8_img {

        background-image: url("{{url_for('static',filename='/diwali/diya8.jpg')}}");
        background-size: contain;
    }

    .hero_section {
        background-image: url("{{url_for('static',filename='images/hero_image.jpg')}}");
        height: 600px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 350px;
    }
</style>
{% endblock %}
{%block content%}
<div class="shop_section">
    <!-- Product 1 -->
    <div class="shop_section_box1 box">
        <div class="box1_content">

            <div class="box1_img"></div>
            <p class="product-description">
                Traditional Handmade Plain Earthen Clay (Mitti) Diya for Diwali, </p>
            <a class="box1_anchor">Shop Now</a>
        </div>
    </div>

    <!-- Product 2 -->
    <div class="shop_section_box2 box">
        <div class="box2_content">

            <div class="box2_img"></div>
            <p class="product-description">Handmade Terracoaat Set of 12 Multicolor Clay Diya for Diwali </p>
            <a class="box2_anchor">Shop Now</a>
        </div>
    </div>

    <!-- Product 3 -->
    <div class="shop_section_box3 box">
        <div class="box3_content">
            <div class="box3_img"></div>
            <p class="product-description">6 Pcs Diwali Lotus Lamp Decorations, Diwali Led Water Sense Lights </p>
            <a class="box3_anchor">Shop Now</a>
        </div>
    </div>


</div>

<div class="shop_section2">
    <!-- Product 5 -->
    <div class="shop_section_box5 box">
        <div class="box5_content">

            <div class="box5_img"></div>
            <p class="product-description">Shubh Labh Latkan Hanging Diwali, Festive, Wedding Decorations </p>
            <a class="box5_anchor">Shop Now</a>
        </div>
    </div>

    <!-- Product 6 -->
    <div class="shop_section_box6 box">
        <div class="box6_content">

            <div class="box6_img"></div>
            <p class="product-descriptio">Twinkle Star 300 LED Curtain String Lights, 8 Modes Plug in Fairy Lights </p>
            <a class="box6_anchor">Shop Now</a>
        </div>
    </div>

    <!-- Product 7 -->
    <div class="shop_section_box7 box">
        <div class="box7_content">

            <div class="box7_img"></div>
            <p class="product-description">5 PC - 4.5 feet Marigold Garland with Green Leaves </p>
            <a class="box7_anchor">Shop Now</a>
        </div>
    </div>

    <!-- Product 8 -->

</div>
<div class="shop_section">
    <div class="shop_section_box8 box">
        <div class="box8_content">
            <div class="box8_img"></div>
            <p class="product-description">Smizzy Lotus Hangings for Diwali Indian Decoration</p>
            <a class="box8_anchor">Shop Now</a>
        </div>
    </div>
    <!-- Product 4 -->
    <div class="shop_section_box4 box">
        <div class="box4_content">

            <div class="box4_img"></div>
            <p class="product-description">BEICHI Flameless Candles, 100Pack Battery Operated Candles</p>
            <a class="box4_anchor">Shop Now</a>
        </div>
    </div>
    
        <div class="box extra">
            <div class="boxExtra_img"></div>
        </div>
    
</div>
{%endblock%}