{% extends 'pageBase.html' %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/cook.css')}}">
{% endblock %}
{% block title %}Watches{% endblock %}
{% block style %} 
<style>
    .logo{
background-image: url("{{url_for('static',filename='images/amazon_logo.png')}}");
height: 50px;
width: 110px;
background-size: cover;
/* above property help image to get fully covered in its height and width*/
} 
.box1_img{

background-image: url("{{url_for('static',filename='/watch/watch1.jpg')}}");
background-size: contain;
}
.box2_img{

background-image: url("{{url_for('static',filename='/watch/watch2.jpg')}}");
background-size: contain;
}
.box3_img{

background-image: url("{{url_for('static',filename='/watch/watch3.jpg')}}");
background-size: contain;
}
.box4_img{

background-image: url("{{url_for('static',filename='/watch/watch4.jpg')}}");
background-size: contain;
}
.box5_img{

background-image: url("{{url_for('static',filename='/watch/watch5.jpg')}}");
background-size: contain;
}
.box6_img{

background-image: url("{{url_for('static',filename='/watch/watch6.jpg')}}");
background-size: contain;
}
.box7_img{

background-image: url("{{url_for('static',filename='/watch/watch7.jpg')}}");
background-size: contain;
}
.box8_img{

background-image: url("{{url_for('static',filename='/watch/watch8.jpg')}}");
background-size: contain;
}
.boxExtra_img{
    background-image: url("{{url_for('static',filename='more1.png')}}");
background-size: contain;
}
.hero_section{
background-image: url("{{url_for('static',filename='images/hero_image.jpg')}}");
height: 600px;
background-size: cover;
display: flex;
justify-content: center;
align-items: flex-end;       
height: 350px;
}   
</style>
{% endblock %}
{%block content%}

    <!-- SHOPPING SECTION -->
    <div class="shop_section">
        <!-- Product 1 -->
        <div class="shop_section_box1 box">
            <div class="box1_content">
    
                <div class="box1_img"></div>
                <p class="product-description">Anne Klein Women's Genuine Diamond Dial Bangle Watch </p>
                <a class="box1_anchor">Shop Now</a>
            </div>
        </div>
        
        <!-- Product 2 -->
        <div class="shop_section_box2 box">
            <div class="box2_content">
                
                <div class="box2_img"></div>
                <p class="product-description"> Minimalist Simple Slim Thin Casual Dress Analog Quartz Wrist Watches </p>
                <a class="box2_anchor">Shop Now</a>
            </div>
        </div>
        
        <!-- Product 3 -->
        <div class="shop_section_box3 box">
            <div class="box3_content">
            
                <div class="box3_img"></div>
                <p class="product-description">brown Deep Black Ebony Zebra Wooden Quartz Men's Watch,Foldover Clasp Wood Strap </p>
                <a class="box3_anchor">Shop Now</a>
            </div>
        </div>

        
    </div>

    <div class="shop_section2">
        <!-- Product 5 -->
        <div class="shop_section_box5 box">
            <div class="box5_content">
                
                <div class="box5_img"></div>
                <p class="product-description">Michael Kors Pyper Three-Hand Gold-Tone Stainless Steel Women's Watch</p>
                <a class="box5_anchor">Shop Now</a>
            </div>
        </div>
        
        <!-- Product 6 -->
        <div class="shop_section_box6 box">
            <div class="box6_content">
                
                <div class="box6_img"></div>
                <p class="product-description">Bamboo Engraved Wood Watch Analog Quartz Men's Wooden Watch </p>
                <a class="box6_anchor">Shop Now</a>
            </div>
        </div>

        <!-- Product 7 -->
        <div class="shop_section_box7 box">
            <div class="box7_content">
                
                <div class="box7_img"></div>
                <p class="product-description">UMIPHIMAT Engraved Wooden Watches for Men - Customized Wood Wrist Watches </p>
                 </p>
                <a class="box7_anchor">Shop Now</a>
            </div>
        </div>

        
    </div>
<div class="shop_section">
<!-- Product 8 -->
<div class="shop_section_box8 box">
    <div class="box8_content">

        <div class="box8_img"></div>
        <p class="product-description">GORBEN Men Wooden Watches Analog Quartz Wrist Wood Watches  </p>
        <a class="box8_anchor">Shop Now</a>
    </div>
</div>
    <!-- Product 4 -->
    <div class="shop_section_box4 box">
        <div class="box4_content">
            
            <div class="box4_img"></div>
            <p class="product-description">Display Men's Zebra Wooden Quartz Watch Lightweight Handmade Casual Wristwatches with Gift Box  </p>
            <a class="box4_anchor">Shop Now</a>
        </div>
    </div>
    <div class="box extra">
        <div class="boxExtra_img"></div>
    </div>
</div>

</div>
{%endblock%}
